{% extends 'base.html.twig' %}

{% block title %}{% trans %}Editor{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Editor{% endtrans %}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ editor.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ editor.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}FoundationYear{% endtrans %}</th>
                <td>{{ editor.foundationYear }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('editor_edit', {'id': editor.id}) }}" class="btn btn-primary">{% trans %}Edit{% endtrans %}</a>

    <a href="{{ path('editor_index') }}" class="btn btn-secondary">{% trans %}back to list{% endtrans %}</a>

    {{ include('backoffice/editor/_delete_form.html.twig') }}
{% endblock %}
