{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>

    <ul class="book-list">
        {% for book in category.books %}
            <li class="card mb-2">
                <div>
                    <a href="{{ path('book_show_front', {id: book.id, slug: book.slug}) }}">{{ book.title }} ({{ book.isbn }})</a>
                </div>
                <div>
                    <span>{{ book.price }}$</span>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
