{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}
    <h1>{{ book.title }}</h1>

    <p>{{ book.resume }}</p>

    <p>
        <i>{{ book.isbn }}</i>
    </p>
    <em>{{ book.price }}$</em>

    {% if app.user.id is defined %}
        <div id="react_like" data-id-book={{ book.id }} data-id-user={{ app.user.id }}></div>
    {% endif %}
{% endblock %}
