<header>
    <div class="jumbotron">
        <div class="container d-flex justify-content-between">
            <h1>
                <a href="{{ path('index') }}">GDA</a>
            </h1>
            <nav class="nav justify-content-center">
            {% for category in default_categories.findAllDefault %}
                <a class="nav-link" href="{{ path('category_show_front', {slug: category.slug, id: category.id}) }}">{{ category.name }}</a>
            {% endfor %}
            </nav>
            <div>
                {% if app.user.id is defined %}
                    <a href="{{ path('profile', {id: app.user.id}) }}">{{app.user.email}}</a> |  <a href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a>
                {% else %}
                    <a href="{{ path('app_login') }}">{% trans %}Login{% endtrans %}</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>