{% extends 'base.html.twig' %}

{% block title %}{% trans %}Books{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Books{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Title{% endtrans %}</th>
                <th>{% trans %}Slug{% endtrans %}</th>
                <th>{% trans %}Isbn{% endtrans %}</th>
                <th>{% trans %}Resume{% endtrans %}</th>
                <th>{% trans %}Price{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.slug }}</td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.resume }}</td>
                <td>{{ book.price }}</td>
                <td>
                    <a href="{{ path('book_show', {'id': book.id}) }}"><span class="material-icons">visibility</span></a>
                    <a href="{{ path('book_edit', {'id': book.id}) }}"><span class="material-icons">edit</span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('book_new') }}" class="btn btn-primary mb-4">{% trans %}Create new{% endtrans %}</a>
{% endblock %}
