{% extends 'base.html.twig' %}

{% block title %}{% trans %}Book{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Book{% endtrans %}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Title{% endtrans %}</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>{% trans %}Slug{% endtrans %}</th>
                <td>{{ book.slug }}</td>
            </tr>
            <tr>
                <th>{% trans %}Isbn{% endtrans %}</th>
                <td>{{ book.isbn }}</td>
            </tr>
            <tr>
                <th>{% trans %}Resume{% endtrans %}</th>
                <td>{{ book.resume }}</td>
            </tr>
            <tr>
                <th>{% trans %}Price{% endtrans %}</th>
                <td>{{ book.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('book_edit', {'id': book.id}) }}" class="btn btn-primary">{% trans %}Edit{% endtrans %}</a>

    <a href="{{ path('book_index') }}" class="btn btn-secondary">{% trans %}back to list{% endtrans %}</a>

    {{ include('backoffice/book/_delete_form.html.twig') }}
{% endblock %}
