{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <h2>{{ user.email }}</h2>

    {% if user.likes|length %}
        <h5>{% trans %}Your likes{% endtrans %}</h5>

        <ul class="book-list">
            {% for like in user.likes %}
                <li class="card mb-2">
                    <a href="{{ path('book_show_front', {id: like.book.id, slug: like.book.slug}) }}">{{ like.book.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <h5>{% trans %}Admin manager{% endtrans %}</h5>
        <nav class="nav">
            <a class="nav-link" href="{{ path('book_index') }}">{% trans %}Book{% endtrans %}</a>
            <a class="nav-link" href="{{ path('editor_index') }}">{% trans %}Editor{% endtrans %}</a>
            <a class="nav-link" href="{{ path('author_index') }}">{% trans %}Author{% endtrans %}</a>
            <a class="nav-link" href="{{ path('category_index') }}">{% trans %}Category{% endtrans %}</a>
        </nav>
    {% endif %}
{% endblock %}
